# CMake generated build files
/cmake-build-*/

# Ignore generated projects
build/
cmake-build/
.vscode/

# Android output directories
gradle*
.gradle
.idea
android/.cxx

# Radon files
/Out/
Urho3D.log
project_structure.txt
GetProjectStructure.bat